@font-face {
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
    font-family: VCR;

}

body {
    margin: 0;
    overflow: hidden;
    font-family: VCR;
    text-shadow: 8px 8px red;

}

.whole {
    margin: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#tvset {
    margin: 0;
    z-index: 7;
    width: 175%;
    height: 175%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: movement;
    animation-duration: 4s;
}

@keyframes movement {
    from {width: 100%; height: 100%; top: 50%}
    to {width: 175%; height: 175%; top: 40%}
  }

#tvstatic {
    margin: 0;
    z-index: 5;
    width: 240vw;
    height: 200vh;
    opacity: .3;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    clip: rect(50%, 50%, -50%, 50%);
}

.mainCard {
    width: 64vw;
    height: 46vw;
    z-index: 4;
    background-size: cover;
    position: absolute;
    top: 41%;
    left: 36.5%;
    transform: translate(-50%, -50%);
}

#BG {
    width: 100%;
    height: 100%;
    /* opacity: .5; */
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.TITLE {
    text-align: center;
    width: 80%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vh;
    color: white;
}

.ARTIST {
    text-align: center;
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    color: white;

}

.checks {
    margin: 2%;
    height: 5vh;
    width: 5vh;
    z-index: 8;
}

.CheckFORM {
    z-index: 6;
    display: none;
    width: 60vw;
    height: 84vh;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-size: 4vh;
    font-family: VCR;
}

.show {
    display:block;
}

#listSUBMIT {
    text-align: center;
    font-size: 5vh;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);
    border: solid white 5px;

}

.box {
    border: solid red 5px;
    width: 60vw;
    height: 84vh;
    position: absolute;
    top: 49%;
    left: 42%;
    transform: translate(-50%, -50%);
}

#changeChannel {
    z-index: 10;
    opacity: 0;

    width: 9vw;
    height: 12vh;
    position: absolute;
    top: 10%;
    left: 80.5%;
    transform: translate(-50%, -50%);
}

#settings {
    z-index: 10;
    opacity: 0;
    width: 8vw;
    height: 12vh;
    position: absolute;
    top: 77%;
    left: 62%;
    transform: translate(-50%, -50%);
}